{% extends 'base.html' %}

{% block title %}   Создать нового пользователя         {% endblock title %}
{% block content %}
<div class="row my-5">
    <div class="col-md-10">
        <h1 class="my-5 ">Создать нового пользователя</h1>
    </div>
</div>


<div class="row">
    <div class="col-md-8 mx-auto">
        <form method="post" action=""> {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-success">Сохранить</button>
        </form>
    </div>
</div>

<div class="row my-5">
    <div class="col-md-10">
        <h4 class="my-5 ">Если в списке нет нужного Вам города или специальности, 
            то Вы можете заполнить <a href="{% url 'contact'  %}"> форму </a> с Вашими пожеланиями. После того, как необходимые город и специальность будут добавлены в список, 
            Вы получите подтверждающие письмо, на указанный Вами и-мэйл. </h4>
    </div>
</div>
{% endblock content %}